@model Alumno

@{
    ViewData["Title"] = "Informacion Alumno";
}
<h1>@ViewData["Title"]</h1>


<strong>Desde la vista normal</strong>

<p>
    Nombre:  @Model.Nombre <br/>
    Id: @Model.Id
</p>

<strong>Desde la vista partial</strong>
<partial name="ObjetoEscuelaSimple"/>


<p><i>@ViewBag.Fecha</i></p>